<a href="https://colab.research.google.com/github/bellatchen/Assignments/blob/main/Ensemble_Trees.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Bella Chen

Task
You will use the Boston Housing Data that you have used for previous exercises including the Decision Tree Regressor.   See if you can improve your results by using these ensemble methods! 

Your task is to perform 

1) Bagged trees and

2) Random forest regression 

techniques on the dataset to predict price from its features.

In [26]:
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.ensemble import BaggingRegressor, RandomForestRegressor

In [15]:
#mounting data
Boston_housing = "/content/drive/MyDrive/Coding Dojo/Data Sets/Boston_Housing_from_Sklearn.csv"
Boston_housing_df = pd.read_csv(Boston_housing)
Boston_housing_df.head()

      CRIM    NOX     RM   AGE  PTRATIO  LSTAT  PRICE
0  0.00632  0.538  6.575  65.2     15.3   4.98   24.0
1  0.02731  0.469  6.421  78.9     17.8   9.14   21.6
2  0.02729  0.469  7.185  61.1     17.8   4.03   34.7
3  0.03237  0.458  6.998  45.8     18.7   2.94   33.4
4  0.06905  0.458  7.147  54.2     18.7   5.33   36.2

In [16]:
#check for missing values and what data types are in each column
Boston_housing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   NOX      506 non-null    float64
 2   RM       506 non-null    float64
 3   AGE      506 non-null    float64
 4   PTRATIO  506 non-null    float64
 5   LSTAT    506 non-null    float64
 6   PRICE    506 non-null    float64
dtypes: float64(7)
memory usage: 27.8 KB

In [17]:
#check for duplicates
Boston_housing_df.duplicated().sum()

0

Bagged Trees

In [18]:
#selecting features matrix and target vector
y = Boston_housing_df["PRICE"]
X = Boston_housing_df.drop(["PRICE", "AGE", "CRIM", "NOX"], axis = 1)

#splitting data for validation
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

#instantiating Model
bagreg = BaggingRegressor(random_state = 42)

In [20]:
#looking at hyperparameters
bagreg.get_params

In [25]:
#fit model
bagreg.fit(X_train, y_train)

#predicting values for y
bagreg.predict(X_test)

array([22.52, 31.02, 18.14, 23.9 , 15.36, 21.42, 20.42, 13.29, 21.32,
       21.63, 21.8 , 17.69, 11.62, 21.42, 17.49, 27.76, 20.98,  8.85,
       48.46, 15.96, 23.33, 23.29, 12.59, 23.6 , 14.82, 14.69, 29.52,
       15.85, 19.39, 20.68, 19.87, 22.83, 29.45, 20.41, 11.5 , 17.66,
       34.56, 29.42, 18.27, 23.53, 17.87, 28.08, 48.46, 23.51, 25.32,
       13.98, 16.03, 23.04, 15.34, 29.22, 22.56, 35.91, 18.86, 25.95,
       42.  , 21.44, 14.73, 30.04, 24.33, 19.85, 26.81, 35.22, 28.25,
       19.51, 25.13, 19.62, 15.4 , 23.07, 25.96, 22.38, 20.36, 26.12,
       10.13, 21.79, 21.26,  8.03, 21.54, 49.54, 12.94, 11.96, 23.58,
        8.34, 30.13,  8.84, 20.45, 26.37, 13.47, 23.45, 23.35, 16.84,
       22.15,  7.9 , 19.79, 20.92, 38.25, 19.51, 21.94, 10.19, 15.27,
       13.31, 19.51, 25.61, 12.  , 26.44, 18.96, 11.67, 19.35, 26.02,
       18.18, 23.25,  6.16, 13.  , 22.34, 21.98, 34.87, 14.49, 42.32,
       15.6 , 17.75, 24.05, 23.55, 24.45,  9.17, 20.82, 23.22, 19.44,
       24.36])

In [24]:
#evaluate model performance
bagreg_train_score = bagreg.score(X_train, y_train)
bagreg_test_score = bagreg.score(X_test, y_test)
print(bagreg_train_score)
print(bagreg_test_score)

0.9589474812896627
0.6810228787398808

Random Forest Regression

In [29]:
#instantiating model
rf = RandomForestRegressor(random_state= 42)

#looking at hyperparameters 
rf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'criterion': 'squared_error',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': 42,
 'verbose': 0,
 'warm_start': False}

In [31]:
#fit model
rf.fit(X_train, y_train)

#predict values for y
rf.predict(X_test)

array([22.219, 31.851, 17.69 , 24.189, 14.647, 20.756, 19.719, 12.907,
       21.452, 21.719, 19.915, 19.218, 12.467, 21.029, 17.591, 25.501,
       20.927,  8.507, 47.621, 15.667, 23.822, 23.375, 12.003, 22.383,
       14.924, 15.505, 30.201, 15.621, 20.092, 20.822, 18.988, 23.251,
       27.037, 20.978, 11.55 , 17.275, 35.818, 22.98 , 19.644, 23.389,
       18.256, 28.057, 46.257, 23.27 , 24.541, 15.265, 16.068, 23.248,
       14.938, 29.483, 23.002, 35.318, 18.85 , 26.457, 44.175, 20.827,
       14.759, 32.364, 22.971, 20.536, 26.187, 34.437, 30.741, 19.252,
       27.195, 18.911, 15.161, 23.3  , 26.385, 20.66 , 21.089, 26.597,
       10.559, 23.233, 21.56 ,  7.754, 20.829, 48.825, 12.774, 11.453,
       23.502,  8.045, 30.079,  8.865, 21.233, 26.43 , 14.145, 23.257,
       23.57 , 17.255, 21.463,  7.923, 19.149, 20.948, 28.907, 19.033,
       23.   , 11.469, 15.128, 12.923, 20.682, 29.342, 11.327, 22.534,
       20.946, 11.626, 17.924, 25.366, 20.643, 23.57 ,  7.108, 13.181,
       22.863, 22.117, 34.489, 15.437, 42.769, 15.644, 17.726, 23.79 ,
       22.824, 23.442, 10.747, 21.059, 23.579, 21.103, 23.998])

In [32]:
#evaluate model performance
rf_train_score = rf.score(X_train, y_train)
rf_test_score = rf.score(X_test, y_test)

print(rf_train_score)
print(rf_test_score)

0.9728543493496158
0.7185553579730205

In [38]:
[estimator.get_depth() for estimator in rf.estimators_]

[16,
 17,
 19,
 17,
 16,
 17,
 19,
 20,
 15,
 16,
 17,
 19,
 20,
 15,
 18,
 19,
 17,
 17,
 18,
 19,
 17,
 17,
 18,
 19,
 17,
 18,
 17,
 15,
 18,
 18,
 17,
 17,
 17,
 17,
 19,
 18,
 20,
 16,
 20,
 18,
 15,
 16,
 18,
 14,
 18,
 17,
 17,
 21,
 21,
 19,
 18,
 17,
 19,
 21,
 17,
 18,
 21,
 16,
 17,
 16,
 22,
 15,
 19,
 19,
 16,
 18,
 18,
 15,
 15,
 22,
 18,
 21,
 18,
 16,
 19,
 18,
 17,
 17,
 16,
 16,
 16,
 16,
 18,
 20,
 18,
 19,
 17,
 16,
 20,
 16,
 18,
 16,
 17,
 20,
 18,
 17,
 19,
 18,
 17,
 20]

In [39]:
#tuning max_depth
rf_22 = RandomForestRegressor(max_depth=22, random_state = 42)
rf_22.fit(X_train, y_train)
rf_22_train_score = rf_22.score(X_train, y_train)
rf_22_test_score = rf_22.score(X_test, y_test)

print(rf_22_train_score)
print(rf_22_test_score)

0.9728543493496158
0.7185553579730205