<a href="https://colab.research.google.com/github/bellatchen/Assignments/blob/main/Pipeline_Retake.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Bella Chen 5/17/2022

In [1]:
#imports
import numpy as np
import pandas as pd
 
from sklearn.model_selection import train_test_split
from sklearn.compose import make_column_transformer, make_column_selector
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline
from sklearn import set_config
set_config(display="diagram")

In [2]:
#mounting data
cereal = "/content/drive/MyDrive/Coding Dojo/Data Sets/Cereal with missing values.xlsx"
cereal_df_og = pd.read_excel(cereal)
cereal_df_og.head()

,name,Manufacturer,type,calories per serving,grams of protein,grams of fat,milligrams of sodium,grams of dietary fiber,grams of complex carbohydrates,grams of sugars,milligrams of potassium,vitamins and minerals (% of FDA recommendation),Display shelf,Weight in ounces per one serving,Number of cups in one serving,Rating of cereal
0,Apple Cinnamon Cheerios,General Mills,Cold,110.0,2.0,2.0,180.0,1.5,10.5,10.0,70.0,25.0,1.0,1.00,0.75,29.509541
1,Basic 4,General Mills,Cold,130.0,3.0,2.0,NaN,2.0,18.0,NaN,100.0,25.0,3.0,1.33,0.75,37.038562
2,Cheerios,General Mills,Cold,NaN,6.0,2.0,290.0,2.0,17.0,1.0,105.0,25.0,1.0,1.00,1.25,50.764999
3,Cinnamon Toast Crunch,General Mills,Cold,120.0,1.0,3.0,210.0,0.0,13.0,9.0,45.0,25.0,2.0,1.00,0.75,19.823573
4,Clusters,General Mills,Cold,110.0,3.0,2.0,140.0,2.0,13.0,7.0,105.0,25.0,3.0,1.00,0.50,40.400208

In [3]:
#check for duplicates
cereal_df_og.duplicated().sum()

0

In [4]:
#check for missing values
cereal_df_og.isna().sum()

name                                               0
Manufacturer                                       0
type                                               9
calories per serving                               7
grams of protein                                   0
grams of fat                                       8
milligrams of sodium                               1
grams of dietary fiber                             0
grams of complex carbohydrates                     0
grams of sugars                                    9
milligrams of potassium                            0
vitamins and minerals (% of FDA recommendation)    1
Display shelf                                      0
Weight in ounces per one serving                   0
Number of cups in one serving                      0
Rating of cereal                                   0
dtype: int64

In [5]:
#select X and y
X = cereal_df_og.drop(columns = "calories per serving")
y = cereal_df_og["calories per serving"]

#train test split
X_train, X_test, y_train, y_test = train_test_split (X, y, random_state = 42)

#verifying split
len(X_train)

57

Numerical - 

    a) calories per serving
    b) grams of protein
    c) grams of fat
    d) milligrams of sodium
    e) grams of dietary fiber
    f) grams of complex carbohydrates
    g) grams of sugars
    h) milligrams of potassium 
    i) vitamins and minerals (% of FDA recommendation)
    j) Display shelf
    k) Weight in ounces per one serving 
    l) Number of cups in one serving


Ordinal - 

    a) rating of cereal

Nominal - 
    
    a) name
    b) Manufacturer
    c) type

Use pipelines and column transformers to complete the following tasks:
    
    a) Impute any missing values. Use the ‘mean’ strategy for numeric columns and the ‘most_frequent’ strategy for categorical columns.
    b) One-hot encode the nominal features.
    c) Scale the numeric columns.
    d) All preprocessing steps should be contained within a single preprocessing object.

Use your preprocessing object to transform your data appropriately, avoiding data leakage, to make it ready for modeling. Show the resulting Numpy array.

In [6]:
#impute any missing values - "mean" for numeric columns and "most frequent" for categorical
mean_imputer = SimpleImputer (strategy ="mean")
most_frequent_imputer = SimpleImputer (strategy = "most_frequent")

#instantiate selectors
cat_selector = make_column_selector(dtype_include = "object")
num_selector = make_column_selector(dtype_include = "number")
ohe = OneHotEncoder(sparse = False, handle_unknown = "ignore")
scaler = StandardScaler()

#pipelines
numeric_pipe = make_pipeline(mean_imputer, scaler)
cat_pipe = make_pipeline(most_frequent_imputer, ohe)

#tuples
numeric_tuple = (numeric_pipe, num_selector)
cat_tuple = (cat_pipe, cat_selector)

#column transformer
col_transformer = make_column_transformer(numeric_tuple, cat_tuple)

#fit column transformer
col_transformer.fit(X_train)

#transform data
X_train_transformed = col_transformer.transform(X_train)
X_test_transformed = col_transformer.transform(X_test)

print(np.isnan(X_train_transformed).sum().sum(),"missing values in training data")
print(np.isnan(X_test_transformed).sum().sum(), "missing values in testing data")
print("\n")
print("All data in X_train_transformed are", X_train_transformed.dtype)
print("All data in X_test_transformed are", X_test_transformed.dtype)
print("\n")
print("shape of data is", X_train_transformed.shape)
print("\n")

X_train_transformed

0 missing values in training data
0 missing values in testing data


All data in X_train_transformed are float64
All data in X_test_transformed are float64


shape of data is (57, 77)

array([[-1.30301442, -0.97467943,  0.56162348, ...,  0.        ,
         1.        ,  0.        ],
       [ 0.40438378,  0.        ,  0.68120871, ...,  0.        ,
         1.        ,  0.        ],
       [ 0.40438378, -0.97467943,  1.99664622, ...,  0.        ,
         1.        ,  0.        ],
       ...,
       [ 1.25808288,  1.94935887, -0.03630266, ...,  1.        ,
         1.        ,  0.        ],
       [ 0.40438378,  0.97467943, -0.15588789, ...,  0.        ,
         1.        ,  0.        ],
       [ 0.40438378,  0.        ,  0.08328257, ...,  0.        ,
         1.        ,  0.        ]])