<a href="https://colab.research.google.com/github/bellatchen/Assignments/blob/main/Revised%20-%20Olympian_Avg_Height.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Bella Chen

In [3]:
#Importing NumPy and Panda
import numpy as np
import pandas as pd

In [4]:
#Importing dataset AthleteEventsNoPersonal from drive
Athlete_Events = "/content/drive/MyDrive/Coding Dojo/Data Sets/athleteEventsNoPersonal.csv"
Athlete_Events_df = pd.read_csv(Athlete_Events)
Athlete_Events_df

,ID,Age,Height,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,5,21.0,185.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
1,5,21.0,185.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
2,5,25.0,185.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
3,5,25.0,185.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
4,5,27.0,185.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
40611,135567,28.0,183.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
40612,135570,27.0,176.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
40613,135570,27.0,176.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
40614,135571,30.0,185.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
40615,135571,34.0,185.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [5]:
#1a - How many rows? 40,616 rows 
#1b - How many columns? 12 columns
Athlete_Events_df.info

<bound method DataFrame.info of            ID   Age  Height         Team  NOC        Games  Year  Season  \
0           5  21.0   185.0  Netherlands  NED  1988 Winter  1988  Winter
1           5  21.0   185.0  Netherlands  NED  1988 Winter  1988  Winter
2           5  25.0   185.0  Netherlands  NED  1992 Winter  1992  Winter
3           5  25.0   185.0  Netherlands  NED  1992 Winter  1992  Winter
4           5  27.0   185.0  Netherlands  NED  1994 Winter  1994  Winter
...       ...   ...     ...          ...  ...          ...   ...     ...
40611  135567  28.0   183.0       Russia  RUS  2004 Summer  2004  Summer
40612  135570  27.0   176.0       Poland  POL  2014 Winter  2014  Winter
40613  135570  27.0   176.0       Poland  POL  2014 Winter  2014  Winter
40614  135571  30.0   185.0       Poland  POL  1998 Winter  1998  Winter
40615  135571  34.0   185.0       Poland  POL  2002 Winter  2002  Winter

                 City          Sport  \
0             Calgary  Speed Skating
1             Calgary  Speed Skating
2         Albertville  Speed Skating
3         Albertville  Speed Skating
4         Lillehammer  Speed Skating
...               ...            ...
40611          Athina         Rowing
40612           Sochi    Ski Jumping
40613           Sochi    Ski Jumping
40614          Nagano      Bobsleigh
40615  Salt Lake City      Bobsleigh

                                          Event Medal
0              Speed Skating Women's 500 metres   NaN
1            Speed Skating Women's 1,000 metres   NaN
2              Speed Skating Women's 500 metres   NaN
3            Speed Skating Women's 1,000 metres   NaN
4              Speed Skating Women's 500 metres   NaN
...                                         ...   ...
40611    Rowing Men's Lightweight Coxless Fours   NaN
40612  Ski Jumping Men's Large Hill, Individual   NaN
40613        Ski Jumping Men's Large Hill, Team   NaN
40614                      Bobsleigh Men's Four   NaN
40615                      Bobsleigh Men's Four   NaN

[40616 rows x 12 columns]>

In [6]:
#Checking for Duplicates + Removing them
Athlete_Events_df.duplicated().sum()

207

In [7]:
Athlete_Events_df.drop_duplicates(inplace = True)

In [8]:
Athlete_Events_df.duplicated().sum()

0

In [9]:
#1c - Which columns have missing values? (Why do think there are so many null values in the Medals column?)
Athlete_Events_df.isna().sum()
# The medals column probably has so many nulls due to the fact that there are more athletes than medalists, with each event only having 3 medalists possible. 
# This dataset is a random sample subset and not a dataset on just medalists in each event.

ID            0
Age        1446
Height     8796
Team          0
NOC           0
Games         0
Year          0
Season        0
City          0
Sport         0
Event         0
Medal     34493
dtype: int64

In [33]:
#1d. How many entries correspond to the city of London?
#filter for City
City_filter = Athlete_Events_df["City"]=="London"
London = Athlete_Events_df.loc[City_filter,:]
London["City"].count()

3347

In [11]:
#1e. What age is the youngest athlete in our sample data? Hint: use min()
Athlete_Events_df["Age"].min()

11.0

In [12]:
#2a - How many athletes who participated in the Sport "Tug-Of-War" were from Team "Sweden" in our sample dataset? - 6
#Filter for Sport and Team
Sport_filter = Athlete_Events_df["Sport"]=="Tug-Of-War"
Team_filter = Athlete_Events_df["Team"]=="Sweden"
Sweden_ToW_df = Athlete_Events_df.loc[Sport_filter & Team_filter, :]
Sweden_ToW_df.count()

ID        6
Age       6
Height    2
Team      6
NOC       6
Games     6
Year      6
Season    6
City      6
Sport     6
Event     6
Medal     3
dtype: int64

In [13]:
#2b - How many Gold medals were awarded to athletes who were oer 40 years old? - 76 Gold medals were awarded to those 40 and older
#filter for medals and Age
Medals_filter = Athlete_Events_df["Medal"]=="Gold"
Age_filter = Athlete_Events_df["Age"]>=40
Gold_40_df = Athlete_Events_df.loc[Medals_filter & Age_filter, :]
Gold_40_df.count()

ID        76
Age       76
Height    17
Team      76
NOC       76
Games     76
Year      76
Season    76
City      76
Sport     76
Event     76
Medal     76
dtype: int64

In [14]:
Athlete_Events_df.isna().sum()

ID            0
Age        1446
Height     8796
Team          0
NOC           0
Games         0
Year          0
Season        0
City          0
Sport         0
Event         0
Medal     34493
dtype: int64

In [34]:
#3a - Determine the average height if all rows are included
# imputing missing height with median height
mean_height = Athlete_Events_df['Height'].mean()
Athlete_Events_df['Height'].fillna(mean_height, inplace=True)
Athlete_Events_df["Height"].mean()

175.29829988368928

In [35]:
#3b - Determine the average height if all rows are included, but grouped by event
Athlete_Events_df.groupby("Event")["Height"].mean()

Event
Alpine Skiing Men's Combined                      177.647887
Alpine Skiing Men's Downhill                      177.315789
Alpine Skiing Men's Giant Slalom                  176.221277
Alpine Skiing Men's Slalom                        176.050633
Alpine Skiing Men's Super G                       179.137255
                                                     ...
Wrestling Women's Flyweight, Freestyle            158.100000
Wrestling Women's Heavyweight, Freestyle          173.444444
Wrestling Women's Light-Heavyweight, Freestyle    170.000000
Wrestling Women's Lightweight, Freestyle          162.666667
Wrestling Women's Middleweight, Freestyle         164.533333
Name: Height, Length: 726, dtype: float64

3. Determine the average height if:

     c. Bonus: This dataset contains many athletes more than once (if they competed in multiple events and/or multiple years). You can confirm this by finding  .value_counts on the ID column!  For the bonus task we want to get the average height of all  the athletes, but don't want to include any athlete more than once.  Hint: We learned how to drop duplicates if EVERY column was identical, but now we want to drop a row any time just the ID is repeated.  To do this,  you can use a subset of your data as an argument in the drop_duplicates function.  You can also tell Python which of the duplicates to keep by using the keep argument. Because I don't want to drop all of these values permanently from my df, I assign this as a new dataframe that I called "one_per_athlete"
#one_per_athlete = df.drop_duplicates(subset = 'Column_Name', keep = 'first')

In [17]:
Athlete_Events_df.value_counts("ID")

ID
119591    36
76437     31
133279    30
21462     29
91845     25
          ..
27338      1
27326      1
82949      1
82957      1
46770      1
Length: 20336, dtype: int64

In [18]:
#Setting up new df to manipulate for just Avg. Height without any duplicated IDs
one_per_athlete = Athlete_Events_df.drop_duplicates(subset="ID", keep="first")

In [19]:
one_per_athlete.value_counts("ID")

ID
5         1
90396     1
90430     1
90425     1
90422     1
         ..
44801     1
44798     1
44797     1
44795     1
135571    1
Length: 20336, dtype: int64

In [36]:
#avg. height
one_per_athlete["Height"].mean()

175.9912962234461

In [37]:
#avg height - groupby event
one_per_athlete.groupby("Event")["Height"].mean()

Event
Alpine Skiing Men's Combined                      176.583333
Alpine Skiing Men's Downhill                      177.145299
Alpine Skiing Men's Giant Slalom                  176.052632
Alpine Skiing Men's Slalom                        175.451613
Alpine Skiing Men's Super G                       177.269231
                                                     ...
Wrestling Women's Flyweight, Freestyle            158.000000
Wrestling Women's Heavyweight, Freestyle          172.000000
Wrestling Women's Light-Heavyweight, Freestyle    170.000000
Wrestling Women's Lightweight, Freestyle          161.700000
Wrestling Women's Middleweight, Freestyle         165.100000
Name: Height, Length: 609, dtype: float64